@font-face {
    font-family: myserif;
    src: url(fonts/SawarabiMincho-Regular.ttf);
}
@font-face {
    font-family: mysansserif;
    src: url(fonts/Roboto-Medium.ttf);
}
body
{
    background-color: rgb(185, 185, 249);
}
h1{
    font-family: myserif;
    text-decoration: underline;
}
ul{
    font-family: mysansserif
}
p{
 font-family: Arial, Helvetica, sans-serif;   
}