:root
{
    --favcolor: rgb(155, 217, 245);
}
body
{
    background-color: lightblue;
   
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color: rgb(47, 7, 248);
    font-size: 32px;
}
section
{
    color: green;
    
}
p
{
    color: red
   
}
#pic
{
    border-radius: 8px;
}
div.button
{
    text-align: left;
}
